@page "/"

<PageTitle>Home</PageTitle>

<div class="main-text-container">
    <h1>Welcome to NextGen Atelier Initiatives Platform</h1>
    <div class="card">
    <h2>Where Innovation Meets Visionary Strategy</h2>
    <p>
        NextGen Atelier is your platform for fostering groundbreaking initiatives in product development.
        Designed to empower teams, this collaborative space combines creativity, strategic thinking, and cutting-edge technology
        to shape the future of offshore wind innovation.
    </p>


    <h2>Together, We Forge the Future</h2>
    <p>
        NextGen Atelier is more than a tool—it's a movement. Join us in driving the next wave of innovation,
        shaping sustainable solutions, and redefining what's possible in the offshore wind industry.
    </p>
    <p>Your ideas, our platform. Let’s innovate together.</p>
    </div>
</div>

